doctype html
html
  head
    title  web của Dylan
    link(rel="stylesheet", href="./css/style.css")
  body
    include ../includes/header.pug
    
    block main

    include ../includes/footer.pug
    script(src="./js/script.js")